body{
    background: #e6e6e6;
}
.col {

    margin-top: 4%;
    text-align: center;
}

.modal-content{
    text-align: center;
}

.col-sm-12 {
    text-align: center;
    margin-top: 10vh;
    }
    
    .row{
        width: 100%;
        margin: 0%;
    }