body{
    background: #e6e6e6;
}

.graph {
    margin-top: 5%;
    max-height: 600px;

}

.col-sm-12 {
    text-align: center;
    margin-top: 10vh;


}

.row {
        width: 100%;     
        margin: 0%;
       
}