html { 
    background: url("../img/bol.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

    body{
        background: transparent;
    }

    /*
html{
    height: 100%;
    margin: 0;
}

body{
    background: white;
    background-image: url("../img/bol.jpg");
    height: 100%; 
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}*/
.col {

    margin-top: 3%;
    text-align: center;
}

/*.col{

    margin-top: 1%;
    text-align: left;
}*/

/*.emilia {

    width: 43;
    height: 43%;
    margin-bottom: 2%;
}*/


.btn {
    margin-top: 2%;
    color: white;
}
.unimol{
    width: 70px;

    height: 70px;

}

.col-sm-12 {
text-align: center;
   color: whitesmoke;

}

.row{
    width: 100%;
    margin: 0%;

}