html{
    height: 100%;
    margin: 0;
}

body{
    background: black;
    background-image: url("../img/bol.jpg");
    height: 100%; 
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.col {

    margin-top: 3%;
    text-align: center;
}

/*.col{

    margin-top: 1%;
    text-align: left;
}*/

.emilia {

    width: 43;
    height: 43%;
    margin-bottom: 2%;
}
.btn {
    margin-top: 2%;
    color: white;
}
.unimol{
    width: 70px;

    height: 70px;

}

.container {
   /* color: #252526;*/

   color: whitesmoke;
}