body{
    background: #e6e6e6;
}
.col {

    margin-top: 4%;
    text-align: center;
}

hr.line{
    border-top: 1px solid grey;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
   
}

.chimica {
    width: 200px;
    height: 150px;
}

.chimicamid {
    width: 100px;
    height: 100px;
}

.chimicabig {
    width: 200px;
    height: 200px;
}

.modal-content{
    background-color: #e6e6e6;
}

.as{
    
    color: #212529;
}
.as:hover{
color: #212529;

 }
