body{
    background: #e6e6e6;
}
.col {

    margin-top: 4%;
    text-align: center;
}

hr.line{
    border-top: 1px solid grey;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
   
}

.chimica {
    max-width: 200px;
    max-height: 150px;
}

.chimicamid {
    max-width: 100px;
    max-height: 100px;
}

.chimicabig {
    max-width: 200px;
    max-height: 200px;
}

.modal-content{
    background-color: #e6e6e6;
}

.as{
    
    color: #212529;
}
.as:hover{
color: #212529;

 }

 .col-sm-12 {
    text-align: center;
    margin-top: 10vh;

    }
    
    .row{
        width: 100%;
        margin: 0%;

    }